.header{
  display: flex;
  background-color: #c4f3ed;
  height: 5rem;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}
.right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  margin-right: 10px;
}
.left{
  flex: 1;
  display: flex;
  align-items: center;
 
}
.logo{
  width: 3rem;
}
h1{
  text-align: center;
  text-decoration: underline;
}
.list_heading{
  font-size:3rem;
  font-weight: bolder;
  font-style: italic;
  
  text-decoration: underline;
}
.tempimg{
  width: 50%;
}
.template{
  display: flex;
  background-color: aliceblue;
  

}
.olist{
  flex: 1;
  flex-shrink:;
}
.skills{
  display: grid;
  grid-template-columns: ;
  row-gap: 30px;
  background-color: rgb(220, 233, 246);
  margin-top: 5rem;
}