.header{
  display: flex;
  background-color: #c4dff3;
  height: 5rem;
  position: fixed;
  top: 0px;
  right: 8px;
  left: 8px;
}
.right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  margin-right: 10px;
}
.left{
  flex: 1;
  display: flex;
  align-items: center;
 
}
.logo{
  width: 3rem;
  margin-left: 10px;
}
h1{
  text-align: center;
  text-decoration: underline;
  color: #3b75cb;
}
.list_heading{
  font-size:3rem;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
  color: #3b75cb;
}
.tempimg{
  width: 50%;
}
.template{
  display: flex;
  background-color: aliceblue;
  

}
.olist{
  flex: 1;
  min-width: 5rem;
}
.skills{
  display: grid;
  grid-template-columns: ;
  row-gap: 30px;
  background-color: rgb(220, 233, 246);
  margin-top: 5rem;
}
ul li{
  color: rgb(138, 138, 237);
  font-weight: 300;
  font-style: italic;
  font-size: larger;
}
a{
  color: white;
}